<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <%- include('partials/head') %>

    <title>Perdas</title>
  </head>
  <body>
    <%- include('partials/header') %>

    <section class="container mt-4">
      <h2 class="text-center mb-4">Registrar perdas</h2>

      <div class="mb-4">
        <label for="description" class="form-label">
          Motivo das perdas (opcional)
        </label>
        <textarea
          class="form-control"
          id="description"
          name="description"
          rows="3"
          placeholder="Descreva o motivo da perda"
        ></textarea>
      </div>

      <div class="mb-4">
        <p class="mb-2">produtos</p>
        <button
          class="btn btn-primary w-100"
          data-bs-toggle="modal"
          data-bs-target="#addProduct"
        >
          Adicionar produto
        </button>
      </div>

      <div class="products--list mb-4"></div>

      <div class="d-flex justify-content-between">
        <p class="mb-1 fw-medium">Total:</p>
        <p class="mb-1 fw-bold">R$ <span id="total">0</span></p>
      </div>
    </section>

    <div class="w-100 position-fixed bottom-0 left-0 mb-3">
      <div class="container">
        <button class="btn btn-success w-100" id="addOrderButton">
          Registrar perdas
        </button>
      </div>
    </div>

    <div
      class="position-fixed w-75 top-50 start-50 translate-middle alert-success"
    >
      <div class="bg-white shadow-lg rounded text-success text-center p-4">
        <img src="/img/success.gif" class="img-fluid" alt="Sucesso" />
        <p>Perdas adicionadas com sucesso</p>
      </div>
    </div>

    <!-- Modal add product -->
    <div
      class="modal fade"
      id="addProduct"
      tabindex="-1"
      aria-labelledby="addProduct"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5">Adicionar produto</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="modal-body">
            <div class="mb-3">
              <label for="product" class="form-label">Produto</label>
              <select
                class="form-select"
                aria-label="Default select example"
                aria-describedby="productHelp"
                name="product"
                id="product"
                required
              >
                <% for( let product of products ) { %>
                <option
                  value="<%= product.id %>"
                  data-price="<%= product.sale_value %>"
                  data-comi="<%= product.commission %>"
                >
                  <%= product.name %>
                </option>
                <% } %>
              </select>
              <div id="productHelp" class="form-text">Selecione o produto</div>
            </div>

            <div class="mb-3">
              <label for="qt" class="form-label">Quantidade</label>
              <input
                type="number"
                id="qt"
                name="qt"
                class="form-control"
                aria-describedby="qtHelper"
                required
                minlength="1"
                value="1"
              />
              <div id="qtHelper" class="form-text">Informe a quantidade</div>
            </div>

            <div class="d-none" id="alert--addProduct">
              <p class="text-warning">Informe uma quantidade maior 0</p>
            </div>
          </div>

          <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-primary" id="addProductButton">
              Adicionar
            </button>
          </div>
        </div>
      </div>
    </div>

    <%- include('partials/scripts.ejs') %>
    <script src="/js/loss.js"></script>
  </body>
</html>
